 *{
    font-family: 'Inconsolata', monospace;
    line-height: 1.6;
    box-sizing: border-box;
 }
body {
    background-color: #2F4858;
    margin: 0;
}
.main-content{
    margin: 0px auto;
    padding: 50px;
    max-width: 1000px;
}
.home{
width: 100%;  
height: 1000px; 
}
.nav-bar-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.nav-bar-list li{
    display: inline;
    padding: 10px;
    color: #64FFDA;
}
.nav-bar{
    border-bottom: 1px solid #64FFDA;
    padding: 5px;
}
 .centered img{
    float: right;
    width: 100%;
    border-radius: 8px;
    border: 3px solid #64FFDA; 
 }

.split {
    height: 500px;
    width: 50%;
    position: absolute;
    z-index: 1;

    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    height: 750px;
  }

  .right {
    right: 0;
    height: 750px;
  }
  .centered {
    position: absolute;
    padding-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
mark.yellow {
    color: #DBDCA9;
    background: none;
}  
.main-title{
    color: #64FFDA;
    font-size: large;
    position: relative;
    margin-bottom: 3px;
}
.sub-title{
    margin-top: 3px;
    color: #64FFDA;
    position: absolute;
    margin-left: 15px;
}
.a-image-one{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: 2px solid #64FFDA;
}
.about-me{
    width: 100%;  
    height: 850px; 
}
.about-image{
    display: flex;
    
}
.headings-main{
    width: 100%;
    text-align: center;
}
.headings{
    color: rgb(217, 232, 245);
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #64FFDA;
}

.about-para{
    width: 50%;
    display: inline-block;
}
.para{
    color: #64FFDA;
}
p {
    /* font-size: 2.5vw; */
    color: white;
}
.projects-section{
    width: 100%;
    height: 1100px;
}

.projects-grid{
    padding: 0;
    margin: auto;
}
.projects {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.projects::after{
    content: "";
    display: table;
    clear: both;
}
.projects li{
    padding: 8px;
}
.project-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.project-column{
    /* float: left; */
    width: 50%;
    padding: 10px;
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    

}
.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.proj-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 5px 0 0;
}
.projects-title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(217, 232, 245);
    font-size: x-large;
    overflow: hidden;
}
.contact{
    max-width: 100%;
    margin: 5%;
}
.contact-page{
    text-align: center;
    max-height: 500px;
}
.contact-para{
    padding: 30px;
}
.contact-button{
    background-color: transparent;
    color: #64FFDA;
    border: 1px solid #64FFDA;
}
a {
    text-decoration: none;
    color: #64FFDA;
}
