 *{
    font-family: 'Inconsolata', monospace;
    line-height: 1.6;
    box-sizing: border-box;
 }
body {
    background-color: #2F4858;
}
.main-content{
    margin: 0px auto;
    padding: 50px;
}
.home{
width: 100%;  
height: 500px; 
}
.nav-bar-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.nav-bar-list li{
    display: inline;
    padding: 10px;
    color: #64FFDA;
}
.nav-bar{
    border-bottom: 1px solid #64FFDA;
    padding: 5px;
}
 .centered img{
    float: right;
    width: 100%;
    padding-top: 75px 15px;
    border-radius: 8px;
    border: 2px solid #64FFDA; 
 }

.split {
    height: 500px;
    width: 50%;
    position: absolute;
    z-index: 1;

    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
mark.yellow {
    color: #DBDCA9;
    background: none;
}  
.main-title{
    color: #64FFDA;
    font-size: large;
    position: relative;
    margin-bottom: 3px;
}
.sub-title{
    margin-top: 3px;
    color: #64FFDA;
    position: absolute;
    margin-left: 15px;
}
.about-image{
    width: 100%;
}
.a-image-one{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: 2px solid #64FFDA;
}
.about-me{
    width: 100%;  
    height: 500px; 
}
.headings-main{
    width: 100%;
    text-align: center;
}
.headings{
    color: rgb(217, 232, 245);
    font-size: 2rem;
    margin: 5%;
    text-decoration: underline;
    text-decoration-color: #64FFDA;
}

.about-para{
    width: 50%;
    display: inline-block;
}
.para{
    color: #64FFDA;
}





